<%- include("header"); %> 

<div id="endodontics">
    <%- include("endodontics"); %> 
</div>

<div id="prosthodontics">
    <%- include("prosthodontics"); -%> 
</div>

<div id="periodontics">
    <%- include("periodontics"); -%>
</div>

<div id="orthodontics">
    <%- include("orthodontics"); -%>
</div>

<div id="pedodontics">
    <%- include("pedodontics"); -%>
</div>

<div id="cosmetic-dentistry">
    <%- include("cosmetic-dentistry"); -%> 
</div>

<%- include("footer"); %> 