<%- include("./partials/header"); %> 

<div id="endodontics">
    <%- include("./partials/treatments/endodontics"); %> 
</div>

<div id="prosthodontics">
    <%- include("./partials/treatments/prosthodontics"); -%> 
</div>

<div id="periodontics">
    <%- include("./partials/treatments/periodontics"); -%>
</div>

<div id="orthodontics">
    <%- include("./partials/treatments/orthodontics"); -%>
</div>

<div id="pedodontics">
    <%- include("./partials/treatments/pedodontics"); -%>
</div>

<div id="cosmetic-dentistry">
    <%- include("./partials/treatments/cosmetic-dentistry"); -%> 
</div>

<%- include("./partials/footer"); %> 