<%- include("./partials/backdoorHeader"); -%>

<table id="basic-data-table" class="table nowrap" style="width:100%">
	<thead>
	  <tr>
		<th>Name</th>
		<th>Phone Number</th>
		<th>Email</th>
		<th>Message</th>
		<th>date submitted</th>
		<th>replied</th>
	  </tr>
	</thead>
	
	<tbody>
		<% if(users.length > 0) {%> 
			<% users.forEach(user => { %>
	  			<tr>
					<td><%= user.name %></td>
					<td><%= user.phone %></td>
					<td><%= user.email %></td>
					<td><%= user.message %></td>
					<td><%= user.message %></td>
					<td><%= user.createdAt %></td>
	  </tr>
	  <% }); %>
    <% } else { %>
		<p>There are no users to display...</p>
    <% } %>
	</tbody>
  </table>


<%- include("./partials/backdoorFooter"); -%>